# Python
*.pyc
__pycache__
*~$
*.log

# Django-specific
*.pot
local_settings.py
db.sqlite3
media/
static_collected/

# Virtual Environment
.env/
venv/
env/

# IDE-specific
.vscode/
.idea/

# OS-specific
.DS_Store
